<div>
  <form>

    <h3>Genre:</h3>
    <div class="md-padding selectdemoSelectHeader" ng-cloak="">
      <div>
        <h1 class="md-title">Choose a genre (or two)</h1>
        <div layout="row">
          <md-input-container>
            <label>Genres</label>
            <md-select ng-model="$ctrl.form.genre" md-on-close="$ctrl.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple="">
              <md-select-header class="demo-select-header">
                <input ng-model="$ctrl.searchTerm" type="search" placeholder="Search for a genre..." class="demo-header-searchbox md-text">
              </md-select-header>
              <md-optgroup label="Genres">
                <md-option ng-value="genre" ng-repeat="genre in $ctrl.genres |
	            	filter:$ctrl.searchTerm">{{genre}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </div>
    <div>
      <h3>Rating</h3>
      <input-stars ng-model="$ctrl.form.rating" on-star-click="clickHandler(rating)" max="10"></input-stars>
    </div>

    <h3>Run Time (min)</h3>
    <rzslider min="{{$ctrl.minValue}}" max="{{$ctrl.maxValue}}" rz-slider-model="$ctrl.form.minLength" rz-slider-high="$ctrl.form.maxLength" rz-slider-options="$ctrl.slider.options"></rzslider>


    <button ng-click="$ctrl.keysearch($ctrl.form)">Search</button>

  </form>

</div>
