<div>
  <form id="searchForm">

    <h3>Genre</h3>
    <div class="md-padding selectdemoSelectHeader" ng-cloak="">
      <div>
        <div layout="row">
          <md-input-container>
            <label></label>

            <md-select ng-model="$ctrl.form.genre" md-on-close="$ctrl.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple="">
              <!-- after searching for genre is done and box is closed
              the input box gets cleared  -->

              <md-select-header class="demo-select-header">
                <input ng-model="$ctrl.searchTerm" type="search" placeholder="Search for a genre..." class="demo-header-searchbox md-text">
              </md-select-header>

              <!-- binds the selected genres to $ctrl.searchTerm -->
              <md-optgroup label="Genres">
                <md-option ng-value="name" ng-repeat="name in $ctrl.genres |
	            	filter:$ctrl.searchTerm">{{name.name}}</md-option>

                <!-- goes through $ctrl.genres in formComponent and lists the name of the genres-->
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </div>
    <div>
      <h3>Rating</h3>
      <input-stars ng-model="$ctrl.form.rating" on-star-click="clickHandler(rating)" max="10" class="stars"></input-stars>
      <!-- Binds rating parameter to the form object. --> 
    </div>

    <h3>Run Time (min)</h3>
    <rzslider min="{{$ctrl.minValue}}" max="{{$ctrl.maxValue}}" rz-slider-model="$ctrl.form.minLength" rz-slider-high="$ctrl.form.maxLength" rz-slider-options="$ctrl.slider.options"></rzslider>
    <!-- The adjustable sliders are bound to the controller, and the rz slider model and rz slider high are the final values --> 



    <!-- not activated yet.will be based on inputs????  -->
    <button type="button" class="showButtons" ng-click="$ctrl.getMovies($ctrl.form)">Show Movies</button>
    <!-- takes the form object and sends everything (genre, rating, time)
    and sends it to $ctrl.getMovies in formComponent, which
    then calls MovieService.getMovies and sends the data as searchObj-->

   </form>

</div>
