.border-radius {
  border-radius: 50px;
  box-shadow: 0 10px 0 0 black;
}

#buttons {
  display: flex;
  justify-content: space-around;
}
#bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0;
 }

 .poster {
   width: 75%;
   margin: 0 auto;
   display: block;
 }

 .select p {
   text-align: center;
 }

 .selector-container {
   display: flex;
   justify-content: center;
   margin-top: 45px;

 }

 .selectors {
   border-radius: 50%;
   width: 70px;
   height: 70px;
   line-height: 70px;
   text-align: center;
   margin: 10px;
   cursor: pointer;
 }

 .thumb-down {
   background-color: #AFD2CF;
 }

 .watch-later {
   background-color: #FDC441;
 }

 .watch-now {
   background-color: #084C61;
 }

 .material-icons {
   color: black; 
 }





.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }
