html {
  background-color: #323031;

}

body {
  background-color: #323031;

}
#watchTitle,
.header {
  color: #fdc441;
  font-family: "federo";
  display: flex;
  justify-content: center;
}
a {
  font-family: "nunito";
  color: #084C61;
}
a:visited {
  text-decoration: none;
}
a:active, a:focus, .selectors:active, .selectors:focus {
  border: none;
  outline: 0;
}

button:active, button:focus {
  border: none;
  outline: 0;
  background-color: #323031;
}

h3 {
  color: #fdc441;
  font-family: "federo";
}
.movieTitle {
  color: #fdc441;
  font-family: "federo";
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.movieInfo {
  font-family: "nunito";
  color: #AFD2CF;
  font-size: 20px;
}
p {
  font-family: "nunito";
  color: #fdc441;
  font-weight: 700;
  font-size: 25px;
}
li {
  font-family: "nunito";
  color: #AFD2CF;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.border-radius {
  border-radius: 35px;
}

i.material-icons.navbuttons{
  font-size: 40px;
}
.showButtons {
  font-family: "nunito";
  color: #084C61;
  border: 2px solid #8D8880;
  border-radius: 35px;
  font-size: 15px;
  font-weight: 700;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #323031;
}

.poster {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  box-shadow: 2px 0px 15px 5px rgba(253, 196, 65, 0.4);
}


.select p {
  text-align: center;
}

.selector-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.selectors {
  
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 82px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  color: #8d8880;
  background-color: #AFD2CF;
}
#watchButtons {
  display: flex;
  justify-content: center;

}
.navbuttons {
  color: #8D8880;
  font-size: 10px;
}



.watch-later {
  background-color: #fdc441;
}


.fa-star-o:before, .fa-star:before {
  color: #AFD2CF;
  display: flex;
  justify-content: center;
  margin-left: 25px;
}

.rzslider .rz-pointer {
  background-color: #AFD2CF;
}
md-optgroup{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

i.material-icons.xOut {
  color: #AFD2CF;
  position: relative;
  top: 5px;
  float: right;

}

.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
  /* box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12); */
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.selectdemoSelectHeader md-content._md {
  max-height: 240px;
}

.nav {
  display: none;
}
@media only screen and (min-width : 992px){
  #bottomNav {
    display: none;
  }
  #searchForm {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  button.showButtons {
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
  }
  #desktopnav {
    display: flex;
    justify-content: space-between;
  }

  .header {
    float: left;

  }

  .nav {
    float: right;
    display: block; 
  }

  .navlinks {
    padding: 10px;
    text-decoration: none;
    font-family: "nunito";
    color: #AFD2CF;
    font-size: 20px;
  }
}
